.marquee-container {
  width: 100%;
  overflow: hidden;
  background-color: black;
  padding: 10px 0;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  margin-top: 50px;
}

.marquee-track {
  display: flex;
  animation: scroll-left 18s linear infinite;
  
  width: max-content;

}

.marquee-item {
  color: rgb(220, 220, 220);
  
  font-size: 1rem;
  text-transform: uppercase;
  margin-right: 4rem;
  white-space: nowrap;
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

@keyframes scroll-left {
   from{
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}