.marquee-container {
  width: 100%;
  overflow: hidden;
  background-color: black;
  padding: 10px 0;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.marquee-track {
  display: flex;
  animation: scroll-left 5s linear infinite;
  width: max-content;

}

.marquee-item {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  margin-right: 4rem;
  white-space: nowrap;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.marquee-item:hover {
  color: #ffcc00;
  cursor: pointer;
  size-adjust: 1.2;
}