/* === Hero Section === */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
}

.overlay h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
  font-family: 'poppins', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color : #eaeaea;
  
}

.cta-button {
  background: #981b1b;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.cta-button:hover {
  background: #510c0c;
}